html {
  scroll-behavior: smooth;
}

#projects {
  padding-top: 50px;
}

#contact {
  padding-top: 25px;
}

.blurb-text {
  font-size: 2em
}

.splash-landing {
  background-image: url("./mpls-dusk.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

blockquote {
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
}

.blurb-paragraph {
  font-size: 2.5rem;
  font-weight: bold;
  /* max-width: 100%; */
}

.typewriter {
  width: 65%;
  background-color: black;
  opacity: .7;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.navy {
  background-color: navy;
}

.project-header {
  font-size: 4rem;
}

.projects {
  height: 100%;
}

.handshake {
  background-image: url("./handshake.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-color: black;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}

@media screen and (min-width: 1220px) {
  .blurb-paragraph {
    font-size: 2.08rem;
    max-width: 80%;
  }
}

@media screen and (min-width: 1002px) {
  .blurb-paragraph {
    font-size: 1.5rem;
    max-width: 72%;
  }
}

@media screen and (min-width: 992px) {
  .blurb-paragraph {
    font-size: 1.5rem;
    max-width: 72%;
  }
}

@media screen and (min-width: 770px) {
  .blurb-paragraph {
    font-size: 1.5rem;
    width: 100%;
  }
}

@media only screen and (max-width: 769px) {
  .blurb-paragraph {
    font-size: 1.5rem;
    max-width: 50%
  }
  .intro {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .blurb-paragraph {
    font-size: 1.2rem;
    max-width: 54%;
  }
  .intro {
    display: none;
  }
}

@media only screen and (max-width: 710px) {
  .blurb-paragraph {
    font-size: 1.2rem;
    max-width: 54%;
  }
  .intro {
    display: none;
  }
}

@media only screen and (max-width: 670px) {
  .blurb-paragraph {
    font-size: 1.2rem;
    max-width: 54%;
  }
  .intro {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .blurb-paragraph {
    font-size: 1.2rem;
    max-width: 54%;
  }
  .intro {
    display: none;
  }
}

@media only screen and (max-width: 620px) {
  .blurb-paragraph {
    font-size: 1.2rem;
    max-width: 54%;
  }
  .intro {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .blurb-paragraph {
    font-size: 1.2rem;
    max-width: 54%;
  }
  .intro {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  .blurb-paragraph {
    font-size: 1.2rem;
    max-width: 65%;
  }
  .intro {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .blurb-paragraph {
    font-size: 1rem;
    max-width: 68%;
  }
  .intro {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .blurb-paragraph {
    font-size: .7rem;
    max-width: 65%;
  }
  .intro {
    display: none;
  }
}


.footer {
  background: linear-gradient(349deg, #020733, #6280cc);
  height: 25vh;
}

.fab {
  font-size: 3rem;
  color: white;
}

.far {
  color: white;
  font-size: .8rem;
}

.last-name {
  color: red;
}

.project-btn {
  background: linear-gradient(349deg, #020733, #6280cc);
  color: white;
}

.submit-button {
  background: linear-gradient(349deg, #020733, #6280cc);
  min-width: 25%;
  margin: 25px 0;
}

.about-image {
  background-image: url("./laptop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 67.5vh;
}

.about-text {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.about-text p {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 70px;
  line-height: 2.2rem;
}

@media screen and (max-width: 911px) {
  .about-text p {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0;
  line-height: 2.2rem;
  }
}

.project-link, .contact-link {
  color: rgba(0,0,0,.5);
  font-weight: 400;
}

.project-link:hover, .contact-link:hover {
  text-decoration: none;
  color: #212529;
}

.image-container {
  background-color: black;
  height: 400px;
  width: 400px;
}

.layer:hover {
  border: 1px solid red;
  background-color: rgba(0,0,0,.5);
}

.fa-chevron-up {
  font-size: 3rem;
  color: white;
  padding: 0;
}

@media screen and (max-width: 768px) {
  #tech-section {
    display: none;
  }
}

#project-link, #github-link {
  text-decoration: none;
  color: white;
}

.fa-chevron-down {
  color: white;
  font-size: 4rem;
  /* margin-top: 50px; */
  text-align: center;
  animation-name: pointer;
  animation-duration: 1s;
  position: relative;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 2.5s;
}

@keyframes pointer {
  0% {top: 0px; opacity: 0}
  100% {top: 50px; opacity: 1}
}
